/* List of publications */
#list-of-publications {
  width: 60%;
  border-collapse:collapse;
}

#list-of-publications .tag {
  vertical-align: top;
  text-align: left;
  font-family: Verdana, sans-serif;
  font-size: 16pt;
  color: #00417b;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#list-of-publications td {
  padding-bottom: 0.5em;
}

#list-of-publications .title {
  text-indent: 0em; margin-top: 0; margin-bottom: 0;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  vertical-align: top;
}

#list-of-publications .author {
  text-indent: 0em; margin-top: 0; margin-bottom: 0;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
}

#list-of-publications .citation {
  text-indent: 0em; margin-top: 0; margin-bottom: 0;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  font-style: italic;
}

#list-of-publications .label {
  vertical-align: top;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  padding-right: 5px;
}

#list-of-publications .data {
  vertical-align: top;
}

