/* List of courses */
#list-of-courses {
  width: 50%;
  border-collapse:collapse;
}

#list-of-courses .period {
  vertical-align: top;
  text-align: left;
  font-family: Verdana, sans-serif;
  font-size: 16pt;
  color: #00417b;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#list-of-courses td {
  padding-bottom: 0.5em;
  padding-left: 2em;
}

#list-of-courses .course {
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  vertical-align: top;
}

