body {
  color: #333333;
  background: white;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  text-align: center;
}

#page-title {
  text-align: left;
}

#intro-photo {
  z-index: -1;
  margin-top: -1em;
  margin-right: 1em;
  float: right;
}

#intro-brief {
  padding-top: 0em;
  margin-top: 0em;
  margin-bottom: 3em;
  padding-left: 0em;
  text-align: left;
}

/* Main content section */
#body-wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 24pt;
  margin-left: 0%;
  color: #00417b;
}

h2 {
  font-family: Verdana, sans-serif;
  font-size: 16pt;
  margin-left: 0;
  padding-bottom: 0.16em;
  font-weight: 500;
  color: #00417b;
}

h3 {
  font-family: Verdana, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 11pt;
  margin-left: 0%;
  color: #333333;
}

p {
  text-indent: 0em; margin-top: 0; margin-bottom: 1em;
  font-family: Verdana, sans-serif;
}

span.middle-names {
  color: #b2c9d9;
}

em {
  font-style: italic;
  font-weight: normal;
}

strong {
  text-transform: uppercase;
  font-weight: bold;
}

pre {
  font-family: monospace;
}

ul {
  font-family: Verdana, sans-serif;
}

/* Link appearance */

:link {
  background-color: inherit;
  color: rgb(0, 86, 137)
}
:visited {
  background-color: inherit;
  color: rgb(137, 0, 137)
}
a:active {
  background-color: inherit;
  text-decoration: underline;
}
a:hover {
  background-color: inherit;
  text-decoration: underline;
}
a.pubs {
  font-size: 100%;
  font-style: italic;
  text-decoration: none;
}
a {
  text-decoration: none;
}

/* AJAX loading GIF */
.loading {
  display: none;
}

/* Columns */
.column-group {
  display: block; width: 100%; padding: 0;
  text-align: left;
}

.column, .column-left, .column-right {
  float:left;
  padding: 0.5em;
  display:inline;
  overflow:visible;
  width: 47%;
}

.column-item {
  padding-left: 0.45em;
}

/* Curiosity dialog */
#name-curiosity {
  display: none;
  text-align: left;
}

/* Footer */

#footer {
  font-size: 9pt;
  font-style: italic;
  margin-top: 1em;
  background: #444444;
  color: #eeeeee;
  display: block;
  height: 220px;
  padding: 0;
  clear: both;
}

#footerwrapper {
  width: 980px;
  margin: 0 auto;
}

#footer .comments {
  float: left;
  font-family: arial, sans-serif;
}

#footer .validators {
  float: right;
}

#footer img {
  border: 0;
}

#footer dt {
  font-style: normal;
  font-weight: 600;
  padding: 0.3em;
}

#footer a {
  color: #aeaeae;
}

